* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(156, 156, 140);
}

header {
    position: relative;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 25px;
}

#link_list {
    list-style: none;
    display: flex;
    width: 1400px;
    justify-content: space-evenly;
    align-items: center;
}

.menu_link {
    text-decoration: none;
    color: rgb(31, 30, 30);
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

.white_text {
    color: white;
    -webkit-text-stroke: 0.5px black;
}

.menu_link:hover {
    font-weight: bolder;
}

#background {
    filter: blur(4px);
    position: absolute;
    z-index: 0;
    height: 100vh;
    width: 100vw;
}

#logo_container {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
}

#logo {
    width: 1300px;
    height: auto;
}

#menu_wrapper {
    padding: 10px;
    display: grid;
    width: 100vw;
    height: 80vh;
    position: relative;
    grid-template-columns: 280px 1fr 60px 1fr 280px;
    grid-template-rows: 80px 1fr 1fr 1fr;
    grid-template-areas: 
        ".  he he he . "
        ".  m1 .  .  . "
        ".  .  .  m2 . "
        ".  m3 .  .  . "
    ;
    gap: 8px;
}

#menu_header {
    grid-area: he;
    font-size: 4rem;
    color: rgb(58, 58, 58);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#menu_item1 {
    grid-area: m1;
    background-color: rgba(58, 58, 58, 0.582);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    border: 2px solid blanchedalmond;
    color: white;
}

#menu_item2 {
    grid-area: m2;
    background-color: rgba(58, 58, 58, 0.582);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    border: 2px solid blanchedalmond;
    color: white;
}

#menu_item3 {
    grid-area: m3;
    background-color: rgba(58, 58, 58, 0.582);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    border: 2px solid blanchedalmond;
    color: white;
}

#contacts_title {
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#story_title {
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#address_title {
    font-size: 2.5rem;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#contact_text {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 15vw;
}

.story_text {
    flex-direction: column;
    padding: 50px;
    font-size: 1.1rem;
}

#address_text {
    display: flex;
    flex-direction: column;
    width: 40vw;
    padding: 20px;
    margin-bottom: 25px;
    font-size: 1.2rem;
}

#contacts_container {
    grid-area: co;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 3px solid blanchedalmond;
    display: grid;
    font-size: 1rem;
    color: rgb(160, 159, 159);
    justify-content: space-evenly;
}

#story_text_container {
    display: flex;
    flex-direction: row;
}

#story_container {
    grid-area: so;
    background-color: rgba(0, 0, 0, 0.719);
    border-radius: 20px;
    border: 3px solid blanchedalmond;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    color: rgb(160, 159, 159);
}

#address_container {
    grid-area: ad;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 3px solid blanchedalmond;
    display: grid;
    font-size: 1rem;
    color: rgb(160, 159, 159);
    justify-content: space-evenly;
}

#about_us_wrapper {
    width: 100vw;
    height: 87vh;
    display: grid;
    padding: 0px;
    position: relative;
    grid-template-columns: 70px 1fr 50px 100px 3fr 100px 70px;
    grid-template-rows: 3fr 1fr 30px;
    grid-template-areas: 
        ".  co .  so so so . "
        ".  co .  .  ad .  . "
        ".  .  .  .  .  .  . "
    ;
    gap: 50px;
}

#about_us_background {
    position: absolute;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    filter: blur(5px);
}

#menu_background {
    position: absolute;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    filter: blur(5px);
}



